<div class="container">
    <h1>VIÑA DEL MAR</h1>
    <p class="p1">Una explosión de sabor</p>
    <div>
        <p class="p2">Ubicado en el corazón de Bogotá, Viña del mar es un destino culinario que ofrece una experiencia gastronómica única y elegante. Con una fusión de sabores locales e internacionales, nuestro restaurante presenta platillos cuidadosamente elaborados
            que deleitan el paladar y celebran la riqueza de la cocina colombiana.</p>
        <button class="boton">Ver mas</button>
        <button class="boton1"> <br>R <br><br> E <br><br> S <br><br> E <br><br> R <br><br> V <br><br> A <br><br><br><br> A <br><br> Q <br><br> U <br><br> I <br></button>
    </div>
</div>