<div class="body" id="conocenos">
    <div class="container">
        <div class="items-content1">
            <div class="items1">
                <h1>VIÑA DEL MAR</h1>
                <h2>Una explosión de sabor</h2>
            </div>
        </div>
        <div class="items-content2">
            <p>Ubicado en el corazón de Bogotá, Viña del mar es un destino culinario que ofrece una experiencia gastronómica única y elegante. Con una fusión de sabores locales e internacionales, nuestro restaurante presenta platillos cuidadosamente elaborados
                que deleitan el paladar y celebran la riqueza de la cocina colombiana.</p>
            <button class="boton" routerLink="/aboutHome">Ver mas</button>
        </div>
        <div class="items">
            <button class="boton1"> 
                <a routerLink="/botton">
                    Reserva aqui
                </a>
                </button>
        </div>

    </div>
</div>