body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
}

.container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5rem 3rem;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

h1 {
    color: RGB(255, 187, 12);
    font-size: 40px;
    text-align: start;
    margin: 0;
}

.p1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: start;
    margin: 0;
}

.p2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-right: 650px;
    margin-bottom: 20px;
}

.boton {
    border-radius: 20px;
    height: 60px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(132, 105, 90);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.boton:hover {
    background-color: #000000;
}

.boton:active {
    background-color: #000000;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(132, 105, 90);
}

.boton1 {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    height: 482px;
    width: 50px;
    text-align: center;
    display: grid;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    font-family: cursive;
    z-index: 1000;
    right: 0;
}

.boton1:active {
    color: RGB(255, 187, 12);
}