<div class="navbar-container">
    <div class="navbar-items">
        <a routerLink="/conocenos">
            <h2>Conocenos</h2>
        </a>
    </div>
    <div class="navbar-items">
        <a routerLink="">
            <h2>Galeria</h2>
        </a>
    </div>
    <div class="navbar-items viñadelmar">
        <h1>VIÑA DEL MAR</h1>
    </div>
    <div class="navbar-items">
        <a routerLink="/servicios">
            <h2>Servicios</h2>
        </a>
    </div>
    <div class="navbar-items">
        <a routerLink="/contactanos">
            <h2>Contactanos</h2>
        </a>
    </div>
</div>
