
*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D9D8D7;
    color: black;
}
.navbar-items h1{
    font-size:  45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}   
.navbar-items h2{
    font-size: 40px;
    font-family: var(--navbaritems);
}
a{
    text-decoration: none;
    color: black;
}


