<div class="navbar-container" id="navbar">
    <div class="navbar-items">
        <a href="#conocenos">
            <h2>Conocenos</h2>
        </a>
    </div>
    <div class="navbar-items">
        <a routerLink="">
            <h2>Galeria</h2>
        </a>
    </div>
    <div class="navbar-items viñadelmar">
        <a href="#navbar">
            <h1>VIÑA DEL MAR</h1>
        </a>
    </div>
    <div class="navbar-items">
        <a href="#service">
            <h2>Servicios</h2>
        </a>
    </div>
    <div class="navbar-items">
        <a href="#contactanos">
            <h2>Contactanos</h2>
        </a>
    </div>
</div>
