<div class="box-principal">    
    <div class="admin">
        <h1>MENU ADMINISTRADOR</h1>
    </div>
    <div class="container">
        <div class="box-options">
            <h1>Crea Productos</h1>
            <p>Desde aqui podras crear los productos que tiene tu base de datos, recuerda llenar todos los espacios. <br> Requisitos: <br> Solamente pueden haber tres productos destacados, los demas deben ser productos comunes</p>
            <button routerLink="/createProduct">Crea Productos</button>
        </div>
        <div class="box-options">
            <h1>Elimina Productos</h1>
            <p>Desde esta opcion puedes eliminar tus productos, si en ese momento no estan disponibles o simplemente si ya no seran vendidos</p>
            <button>Elimina Productos</button>
        </div>
        <div class="box-options">
            <h1>Tus Productos</h1>
            <p>Visualiza de manera rapida, agil y organizada todos los productos que se encuentran disponibles en tu menu</p>
            <button>Tus Productos</button>
        </div>
    </div>
</div>
