<div class="container">
    <header>
        <div class="header-content">
            <h1>Nuestra Historia</h1>
        </div>
    </header>
    
    <section class="introduccion">
        <h2>Introducción</h2>
        <p>Desde nuestros humildes comienzos hasta el éxito global, nuestra misión siempre ha sido la misma: ofrecer calidad y servicio excepcionales.</p>
    </section>
    
    <section class="cronologia">
        <h2>Cronología</h2>
        <div class="timeline">
            <div class="timeline-item">
                <h3>1985</h3>
                <p>Apertura</p>
            </div>
            <div class="timeline-item">
                <h3>1990</h3>
                <p>Nuestra primera estrella michelin</p>
            </div>
            <div class="timeline-item">
                <h3>1995</h3>
                <p>Nuestra segunda estrella michelin</p>
            </div>
            <div class="timeline-item">
                <h3>2000</h3>
                <p>Ganamos el premio Soles de Reposol por nuestra excelencia</p>
            </div>
            <div class="timeline-item"> 
                <h3>2005</h3>
                <p>Nuestro chef estrella gano el the best chef award</p>
            </div>
            <div class="timeline-item">
                <h3>2010</h3>
                <p>Entramos a el top 10 de los mejores restaurantes de america</p>
            </div>
            <div class="timeline-item">
                <h3>2015</h3>
                <p>Entramos a el top 25 de los mejores restaurantes del mundo</p>
            </div>
        </div>
    </section>
    
    <section class="narrativa">
        <h2>Nuestra Historia</h2>
        <p>Julián Arango siempre había soñado con tener su propio restaurante, un lugar donde la elegancia y la buena cocina se unieran para crear una experiencia inolvidable. Nacido y criado en Bogotá, Julián había pasado años trabajando en la industria
            gastronómica, desde lavar platos en pequeños cafés hasta ser chef en prestigiosos restaurantes de la ciudad. Sin embargo, su verdadera pasión siempre fue crear algo que pudiera llamar suyo. Después de años de esfuerzo y dedicación, Julián
            decidió que era el momento de hacer realidad su sueño. Inspirado por sus visitas a la costa chilena y su fascinación por la ciudad de Viña del Mar, concibió la idea de un restaurante que llevara ese nombre, un lugar que evocara la elegancia
            y el refinamiento de las cenas junto al mar, pero en pleno corazón de Bogotá. “Viña del Mar” se estableció en una hermosa casa restaurada en el barrio de La Candelaria. Con una decoración que combinaba lo moderno con toques clásicos, el restaurante
            pronto se convirtió en un punto de referencia para quienes buscaban una experiencia culinaria única. El menú, cuidadosamente diseñado por Julián, ofrecía una fusión de sabores del mar y de la tierra, con platos que homenajeaban tanto la cocina
            chilena como la colombiana, todo acompañado por una selecta carta de vinos. El éxito de “Viña del Mar” no tardó en llegar. La pasión de Julián por la excelencia y su dedicación a cada detalle, desde la presentación de los platos hasta la atención
            al cliente, hicieron que el restaurante se ganara rápidamente una reputación de ser uno de los mejores de la ciudad. No solo era un lugar para disfrutar de una buena comida, sino también para celebrar momentos especiales. Años después, “Viña
            del Mar” sigue siendo un símbolo de la visión y el esfuerzo de Julián Arango, un hombre que creyó en sus sueños y los convirtió en una realidad que hoy deleita a cientos de comensales en la vibrante ciudad de Bogotá.</p>
        </section>
        
        <footer>
            <p>Encuetranos en la calle 5a#13-66</p>
        </footer>
    </div>