<div class="container" routerLink="/reservaciones">
    <p class="utility-bar_text" #utilityBarText >
        &nbsp;
        --   Aprovecha 20% de descuento con tu reserva   --
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        --   Aprovecha 20% de descuento con tu reserva   --
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        --   Aprovecha 20% de descuento con tu reserva   --
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        --   Aprovecha 20% de descuento con tu reserva   --
    </p>
</div>
