.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px;
    gap: 10px;
}

.cards {
    display: grid;
    background-color: rgb(194, 155, 117);
    align-items: center;
    justify-items: center;
}

.card-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    height: 60%;
    width: 80%;
    justify-items: center;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.432);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

.card-content button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 70px;
    background-color: #84695A;
    color: #fff;
    font-size: 30px;
}

.card-content button:hover {
    scale: 1.1;
    transition: .2s;
}