<div class="container-main" id="service">
    <div class="cards card1">
        <div class="card-content ">
            <h1>MENU </h1>
            <P>Conoce todos nuestros platos, postres, cocteles y demas sabores que te esperan</P>
            <button> <a routerLink="/menu">Click aqui</a></button>
        </div>
    </div>
    <div class="cards card2">
        <div class="card-content ">
            <h1>RESERVA</h1>
            <P>Aprovecha la oportunidad y reserva un espacio para vivir una experiencia unica</P>
            <button> <a routerLink="/reservaciones">Click aqui</a></button>
        </div>
    </div>
</div>
