<div class="division-landing">
    <img id="btnCambiarPagina" src="/assets/img/icons/material-symbols_home.png" alt="icon">
<div class="divisions">
<div class="itemsLogin">
    <h1>Registra productos</h1>
</div>
<div class="itemsLogin">
    <form action="">
        <input id="name" type="text" placeholder="Ingresa el nombre"><br>
        <input id="img" type="text" placeholder="Ingresa la url del producto"><br>
        <input id="description" type="text" placeholder="description"><br>
        <input id="value" type="number" placeholder="ingresa el precio"><br>
        <p>¿Tu producto es destacado? recuerda que solo pueden existir 3 destacados</p>
        <input id="feature" type="checkbox" placeholder="es producto destacado"><br>
        <button type="submit">Crear producto</button>
    </form> <br>
</div>
</div>
</div>