<div class="division-landing">
    <img id="btnCambiarPagina" src="/public/images/home.png" alt="icons" >
<div class="divisions">
<div class="itemsLogin">
    <h1>Registra productos</h1>
</div>
<div class="itemsLogin">
    <form (ngSubmit)="onSubmit(miFormulario)" #miFormulario="ngForm">
        <input id="name" type="text" placeholder="Ingresa el nombre" [(ngModel)]="name" name="name"><br>
        <input id="img" type="text" placeholder="Ingresa la url del producto"  [(ngModel)]="img" name="img"><br>
        <input id="description" type="text" placeholder="description" [(ngModel)]="description" name="description"><br>
        <input id="value" type="number" placeholder="ingresa el precio" [(ngModel)]="value" name="value"><br>
        <p>¿Tu producto es destacado? recuerda que solo pueden existir 3 destacados</p>
        <input id="feature" type="checkbox" placeholder="es producto destacado"  [(ngModel)]="feature" name="feature"><br>
        <button type="submit">Crear producto</button>
    </form> <br>
</div>
</div>
</div>